<h4 class="ui center aligned medium icon header">
  <div class="mb2">
  Welcome to MassageMe - <i class="italics">a complete Chat App</i>
  </div>
  <i class="circular coffee red inverted icon"></i>
  Sign up to continue
</h4>

<%= render 'form' %>