@import 'semantic-ui';

.chatbox {
  height: 450px;
}

.mb2 {
  margin-bottom: 20px;
}

.italics {
  font-style: italic;
}

#messages {
  height: 15em;
  overflow: auto;
}

.input {
  button {
    display: none;
  }
}